[Unit]
Description=Janus WebRTC service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/bin/bash /home/pi/src/pi_monitor/run_janus.sh

[Install]
WantedBy=multi-user.target

